.projects {
    width: 100%;
    padding-top: 0;
    padding-bottom: 10em;
    margin: auto;
    text-align: center;
    background-color: var(--silver-color);
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading-caption {
	position: absolute;
	color: #000000;
	padding:5%;
}

.caption span.heading {
	padding:10%;
	margin:auto;
	font-size: 32px;
}

hr.hr-articles-column{
	position: relative;
	display:flex;
	margin-top: 2em;
	flex:1;
	border: 2px solid #000000;
	max-width:4em;
	width:auto;
	text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.column p{
	font-size: small;
	padding: 2em;
}

.column iframe{
	height: 100%;
	width:100%;
	border-style: none;
}		
/* Create two equal columns that floats next to each other */
.column {
    position:relative;
    float: left;
	padding-top: 4em;
    margin: 2em;
	margin-bottom:5em;
    width: 25%;
    display:flex;
	flex-wrap:wrap;
	align-content:center;
	
    height: 20em;
    justify-content: space-evenly;
}

@media only screen and (max-width: 795px){					
	.column{
		width:75%;
		height:auto;
	}
}

@media only screen and (max-width: 350px){					
	.column{
		min-width: 120px;
	}
}

.column-paragraph{
	width:100%;
    background-color:var(--background);
}
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    height: 100%;
}